a {
    text-decoration: none;
}
.login-page {
    background-color: rgb(144, 198, 255);
    width: 100%;
    height: 100vh;
    display: inline-block;
    display: flex;
    align-items: center;
}

.navbar{
    background-color: #260D59;
}


body {
    background: #eee
}



#regForm {
    background-color: #ffffff;
    margin: 0px auto;
    font-family: Raleway;
    padding: 40px;
    border-radius: 10px;
}

#register{

  color: #6A1B9A;
}

h1 {
    text-align: center;
}

h6 {
    font-size: larger;
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
    -webkit-appearance: none;
}



.tab input:focus{

  border:1px solid #6a1b9a !important;
  outline: none;
}

input.invalid {
 
    border:1px solid #e03a0666;
}

.nextbtn {
    background-color: #260D59;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
}


.nextbtn:hover {
    background-color: #34127a;
    color:white;
}

.nextbtn:focus{
  outline: none !important;
}

.all-steps{
      text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.step {
    height: 40px;
    width: 40px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #6a1b9a;
    opacity: 0.5;
}
.step.active {
    opacity: 1
}
.all-steps {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px
}
.thanks-message {
    display: none
}